@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Satisfy&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --azul-escuro: #274C77;
    --azul-claro: #A3CEF1;
    --azul-medio: #6096BA;
    --cinza: #E7ECEF;
    --preto: #000000;
    --vermelho: #d62828;
    --fonte-texto:  "Dancing Script", cursive;
    --fonte-titulo: "Satisfy", cursive;
}

.cabecalho{
    background-color: var(--azul-escuro);
    color: var(--azul-claro);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2em;
}

.cabecalho-imagem{
    width: 5%;
    border-radius: 100%;
    margin: 1em;
}

.cabecalho-lista-link{
    text-decoration: none;
    color: var(--cinza);
    margin-right: 1.5em;
    font-size: 1.5em;
}

.escola{
    background-color: var(--cinza);
    color: var(--azul-escuro);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    font-family: var(--fonte-texto);
}

.escola-texto-titulo{
    padding: 12px 0;
    font-family: var(--fonte-titulo);
}

.escola-imagem{
    width: 150%;
}

.estudante-div-foto{
    width: 80%;
    border-radius: 5%;
}

.estudante-div.icone{
    width: 34px;
    margin-right: 8px;
    margin-bottom: 8px;
}

.estudante-div{
    text-align: center;
}

.estudante{
    background: linear-gradient(#274C77, #6096BA);
}

.estudante-titulo{
    text-align: center;
    padding: 50px 0;
    font-family: var(--fonte-titulo);
    color: var(#000000);
    font-size: 2em;
}

.estudante-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
.estudante-div{
    text-align: center;

}

.estudante-div-nome{
    margin: 8px 0;
    font-family: var(--fonte-texto);
    font-size: 1.3em;
}

.rodape{
    background-color: var(--preto);
    text-align: center;

}
.rodape-logo{
    width: 5%;
    border-radius: 100%;
    margin: 1em;
    padding:12px 0;
}