@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Satisfy&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --azul-escuro: #274C77;
    --azul-claro: #A3CEF1;
    --azul-medio: #6096BA;
    --cinza: #E7ECEF;
    --preto: #000000;
    --vermelho: #d62828;
    --fonte-texto:  "Dancing Script", cursive;
    --fonte-titulo: "Satisfy", cursive;
}

.cabecalho{
    background-color: var(--azul-escuro);
    color: var(--azul-claro);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2em;
}

.cabecalho-imagem{
    width: 5%;
    border-radius: 100%;
    margin: 1em;
}

.cabecalho-lista-link{
    text-decoration: none;
    color: var(--cinza);
    margin-right: 1.5em;
    font-size: 1.5em;
}

.escola{
    background-color: var(--cinza);
    color: var(--azul-escuro);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    font-family: var(--fonte-texto);
}

.escola-texto-titulo{
    padding: 12px 0;
    font-family: var(--fonte-titulo);
}

.escola-imagem{
    width: 150%;
}

.estudante-div-foto{
    width: 25%;
}

.estudante-div-icone{
    width:̣̣ 100px;
}

.estudante-div{
    text-align: center;
}

